.THIS .customCls {
  margin-top: -10px;
  width: 50%;
  position: absolute;
  right: 17px;
  z-index: 1;
}

.THIS .customMenu {
  margin-top: 18px;
  margin-left: auto;
  /* width: 50%; */
  /* position: absolute; */
  /* right: 120px; */
  /* z-index: 1; */
}
